@model Camedia.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Customers.Count == 0)
{
    <text>We don't currently have any customers.</text>
}
else
{
    <table class="table table-bordered table-hover">
        <tr><th>Movie</th></tr>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink(@customer.Name, "Details", "Customers", new { Id = @customer.Id }, null) </td>
            </tr>
        }
    </table>
}

